<div class="page-container">
  <!-- Header Section -->
  <header class="header">
    <div class="header-content" class="zoom-out-image">
        <h1>Welcome to Urban Waste Management</h1>
        <p>Your go-to solution for efficient waste management</p>
        <img src="/img/manybins.png" class="zoom-out-image" width="auto" height="auto">
    </div>
</header> 

  
  <!-- Search Bar -->
  <!-- <div class="search-bar">
    <input type="text" placeholder="Search..." />
    <button type="button">Search</button>
  </div> -->
  
  <!-- Courses Section -->
  <div class="ag-format-container" >
    <div class="ag-courses_box">
      <div class="ag-courses_item">
        <a href="dashboard" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
          <div class="ag-courses-item_title">Dashboard</div>
          <div class="ag-courses-item_date-box">
            Detail: <span class="ag-courses-item_date">real time data</span>
          </div>
        </a>
      </div>
      <div class="ag-courses_item">
        <a href="alarms" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
          <div class="ag-courses-item_title">Live Monitor</div>
          <div class="ag-courses-item_date-box">
            Detail: <span class="ag-courses-item_date">real time data</span>
          </div>
        </a>
      </div>
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
          <div class="ag-courses-item_title">Tables</div>
          <div class="ag-courses-item_date-box">
            Start: <span class="ag-courses-item_date">04.11.2022</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  
  <!-- Announcements Section -->
  <!-- <section class="announcements">
    <h2>Latest Announcements</h2>
    <ul>
      <li>New feature update: Real-time monitoring</li>
      <li>System maintenance scheduled for next week</li>
      <li>Welcome our new users from XYZ company</li>
    </ul>
  </section> -->
  
  <br>
  <br>
  <!-- Footer Section -->
  <footer class="footer">
    <div class="footer-content">
      <p>© 2024 Mardeen. All rights reserved.</p>
      <!-- <nav class="footer-nav">
        <a href="#">Contact Us</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
      </nav> -->
    </div>
  </footer>
</div>
