/* PAGE CONTAINER */
.page-container {
  font-family: Arial, sans-serif;
  color: #333;
}

/* HEADER SECTION */
.header {
  color: white;
  padding: 0;
  text-align: center;
}

/* FIGURE AND IMAGE */
.header-content {
  position: relative;
  width: 100%;
  height: auto;
}

.zoom-out-image {
  width: 100%;
  height: auto;
  animation: zoomOut 1s ease-out forwards;
}

@keyframes zoomOut {
  0% {
      transform: scale(1.5);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

/* FIGCAPTION */
.header-content figcaption {
  position: absolute;
  top: 110px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  color: #333;
  text-align: center;
  width: 100%;
}

.header-content h1 {
  font-style: bold;
  margin: 0;
  font-size: 2.5em;
  color: #000000;
}

.header-content h2 {
  font-style: bold;
  font-size: 4.0em;
  color: #000000;
}
.header-content p {
  font-size: 1.2em;
  margin-top: 30px;
  color: #000000;
}


/* TYPEWRITER ANIMATION */
.typewriter {
  overflow: hidden; /* Ensures the text is hidden until animated */
  border-right: .15em solid rgb(17, 17, 17); /* Cursor effect */
  white-space: nowrap; /* Keeps the text on a single line */
  margin: 0 auto; /* Centers the element */
  letter-spacing: .15em; /* Adjust as needed */
  animation: typing 3.1s steps(30, end) 1s infinite, blink-caret .60s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


/* FOOTER SECTION */
.footer {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav {
  margin-top: 10px;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer-nav a:hover {
  text-decoration: underline;
}

/* CARDS */
.cards-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 30%;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  margin: 10px;
  cursor: pointer;
}

.card .icon {
  font-size: 40px;
  margin-bottom: 10px;
  transition: color 0.3s;
}

.card h2 {
  color: #40ff709d;
  transition: color 0.3s;
}

.card:nth-child(2) h2 {
  color: #2196F3;
}

.card:nth-child(3) h2 {
  color: #FFB300;
}

.card p {
  color: #666;
  transition: color 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #f0f0f0;
}

.card:nth-child(1):hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #40ff70;
}

.card:nth-child(2):hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #6ab4f1;
}

.card:nth-child(3):hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #FFB300;
}

.card:hover .icon {
  color: #40ff70;
}

.card:nth-child(2):hover .icon {
  color: #2196F3;
}

.card:nth-child(3):hover .icon {
  color: #FFB300;
}

.card:hover h2, .card:hover p {
  color: #333;
}



/* (not using) SEARCH BAR */
.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  font-size: 1em;
  border: 2px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  background-color: #4c49ea;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #3b3a9a;
}


