

<mat-grid-list cols="2" rowHeight="2:1">
    
    <mat-grid-tile>
      <canvas id="myChart" width="400" height="400"></canvas>
    </mat-grid-tile>
   
    <mat-grid-tile>
      <canvas id="myChart2" width="400" height="400"></canvas>
    </mat-grid-tile>
   
    <mat-grid-tile>
      <iframe src="https://data.melbourne.vic.gov.au/explore/embed/dataset/netvox-r718x-bin-sensor/map/?disjunctive.dev_id&sort=time&location=18,-37.80226,144.9659&basemap=mbs-7a7333&static=false&datasetcard=false&scrollWheelZoom=false" width="600" height="400" frameborder="0"></iframe>
        <!-- <canvas id="myChart3" width="400" height="400"></canvas> -->
    </mat-grid-tile>

    <mat-grid-tile>
        <!-- <canvas id="myChart4" width="400" height="400"></canvas> -->
    </mat-grid-tile>
  </mat-grid-list>
  