/* mat-grid-tile {
  background: inherit;
} */
  
.dashboard-title {
  text-align: left;
  font-size: 24px;
  margin: 10px 20px;
  font-family: 'Arial', sans-serif;
}

mat-grid-tile {
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}


/* KPI */

mat-card {
  text-align: center;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

mat-card-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

mat-card-content {
  font-size: 1.2em;
  color: #555;
}

mat-card-content p {
  margin: 5px 0;
}

mat-card-content p:first-child {
  font-size: 1.5em;
  color: #2196f3;
  font-weight: bold;
}


/* gppppppppppppp */
.kpi-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  width: 90%;
}

.kpi-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.kpi-icon {
  width: 40px;
  height: 40px;
  /* background-color: #ffcc00; */
  padding: 8px;
  border-radius: 50%;
}

.kpi-title {
  font-size: 1.2em;
  color: #888;
  margin: 16px 0 8px;
  text-align: center;
}

.kpi-value {
  font-size: 2em;
  color: #333;
  margin: 0;
  text-align: center;
}

.kpi-update {
  font-size: 0.9em;
  color: #bbb;
  margin-top: 8px;
  text-align: center;
}

.update-icon {
  margin-right: 4px;
}



/* mapppp */
/* 
#map {
  height: 500px;
  width: 100%; 
} 
*/

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

.leaflet-container {
  height: 100%; /* Ensure Leaflet container takes full height of parent */
  width: 100%;  /* Ensure Leaflet container takes full width of parent */
}

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
  -ms-touch-action: none;
  touch-action: none;
}
.leaflet-container.leaflet-touch-drag {
  -ms-touch-action: pinch-zoom;
  touch-action: none;
  touch-action: pinch-zoom;
}
.leaflet-container.leaflet-touch-zoom {
  -ms-touch-action: pan-x pan-y;
  touch-action: pan-x pan-y;
}

.leaflet-container {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.5;
}
.leaflet-container {
  background: #ddd;
  outline-offset: 1px;
}
.leaflet-grab {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
.leaflet-container {
  -webkit-tap-highlight-color: transparent;
}
.leaflet-container {
  overflow: hidden;
}

/* field */
